*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black;
	text-indent: none;
}
li {
    list-style-type: none;
}
h1{
	margin-top: 0 auto;
}
img{
	width: 300px;
	height: 150px;
	max-width: 100%
}
p{
	border: solid 1px red;
}
.col{
	float: left;
}
.profile{
	float: right;
}
.header{
width: 100%

}
.main-nav{
	
	margin-top: 25px;
	float: right;
}
.container{
	width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.hcontainer{
	width: 100%;
	box-shadow: 1px 2px 4px rgba(10, 10, 10, .5);
	overflow: auto;
	background-image: radial-gradient(circle at top right,#FFF8DC 0%, #F0E68C 55%, #8B4513 100%);

}
.bcontainer{
	display: block;
}
.name{
margin-left: 100px; 
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
.main-nav li{
	
	margin-right: 20px;
	font-size: 1.5em;
}
.name, .main-nav li{

	text-align: center;
	background: #fff;
	display: inline-block;
}
.name a,.main-nav a{
	padding-right: 20px;
	display: block;
}
body{
	background-repeat: no-repeat;
	font-family: 'Lucida Sans' , Arial;
}

/*CLEARFIX*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


/*  WEBFONTS*/
@font-face{
	font-family:'Abolition Regular';
	src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype'); 

}
